{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="section-top">
     <iframe id = "comslider_iframe_1455700" width = "100%" height = "692"  style = "border: 0; margin: 0; overflow: hidden;" scrolling = "no" src = "http://commondatastorage.googleapis.com/comslider/target/users/1512190176x2609833dcca9db3abe2dd52c727ad7d4/comsliderframe1455700.html"> </iframe>
     </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Преимущества покупки автомобиля
напрямую из Японии
 </h1>
 <h1 class="text-center"> <iframe id="comslider_iframe_1461555" width="795" height="414" style="border:0; margin:0; overflow:hidden;" scrolling="no" src="http://commondatastorage.googleapis.com/comslider/target/users/1512834522x296be857ee09c7a6e57802bde5686f1a/comsliderframe1461555.html"> 
 </iframe></h1>   
 
            </div>
          </div>       
            </div>
        </div>
    </div>
{% endblock %}







