{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="section-top">
        <img src="{% static 'img/fon_reg3.jpg' %}" width="100%" 
  height="100" class="img-responsive">
    </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
<div class="page-header">
<h2 itemprop="headline">
Варианты и стоимость доставки автомобилей по РФ	
</h2>
</div>

<div itemprop="articleBody">
<p>&nbsp;Мы сотрудничаем&nbsp;только с проверенными&nbsp;перевозчиками&nbsp;способными предоставить юридические гарантии:</p>
<h2>Отправка автомобилей железнодорожным транспортом.</h2>
<p><strong>Стоимость доставки (<span style="color: #ff0000;">InJapan</span>):</strong></p>
<div class="table-responsive">&nbsp;
<table class="table">
<tbody>
<tr>
<td rowspan="2" width="28%"><strong>Направление&nbsp;</strong></td>
<td colspan="3"><strong>Марка/модель автомобиля (выгрузка включена)&nbsp;</strong></td>
</tr>
<tr>
<td><strong>Легковой&nbsp;</strong></td>
<td><strong>Минивен/Кроссовер&nbsp;</strong></td>
<td><strong>Джип, микроавтобус&nbsp;</strong></td>
</tr>
<tr>
<td>Владивосток - Москва</td>
<td>54000</td>
<td>57000~60000</td>
<td>65000</td>
</tr>
<tr>
<td>Владивосток - Новосибирск</td>
<td>46000</td>
<td>47000</td>
<td>по запросу</td>
</tr>
<tr>
<td>Владивосток - Камчатка</td>
<td>41000</td>
<td>41000</td>
<td>до 2 тонн 41000</td>
</tr>
<tr>
<td valign="middle">Санкт-Петербург</td>
<td>68000</td>
<td>75000</td>
<td><span data-mce-mark="1">83000</span></td>
</tr>
<tr>
<td valign="middle">Омск/ Тюмень / Ишим</td>
<td>56000</td>
<td>58000</td>
<td>71000<span data-mce-mark="1"><br></span></td>
</tr>
<tr>
<td valign="middle">Екатеринбург / Челябинск</td>
<td>59000</td>
<td>63000</td>
<td>74000<span data-mce-mark="1"><br></span></td>
</tr>
<tr>
<td valign="middle">Пермь</td>
<td>60000</td>
<td>64000</td>
<td>76000<span data-mce-mark="1"><br></span></td>
</tr>
<tr>
<td valign="middle">Уфа/Курган</td>
<td>58000</td>
<td>62000</td>
<td>74000<span data-mce-mark="1"><br></span></td>
</tr>
<tr>
<td valign="middle">Казань/ Набережные Челны</td>
<td>60000</td>
<td>64000</td>
<td>77000<span data-mce-mark="1"><br></span></td>
</tr>
<tr>
<td valign="middle">Чебоксары/ Ижевск</td>
<td>63000</td>
<td>69000</td>
<td>79000<span data-mce-mark="1"><br></span></td>
</tr>
<tr>
<td valign="middle">Самара / Тольятти</td>
<td>60000</td>
<td>64000</td>
<td>75000<span data-mce-mark="1"><br></span></td>
</tr>
<tr>
<td valign="middle">Пенза</td>
<td>63000</td>
<td>67000</td>
<td>76000<span data-mce-mark="1"><br></span></td>
</tr>
<tr>
<td valign="middle">Нижний Новгород</td>
<td>63000</td>
<td>67000</td>
<td>76000<span data-mce-mark="1"><br></span></td>
</tr>
</tbody>
</table>
</div>
<p><strong>&nbsp;*&nbsp;</strong>При отправке по ЖД документы высылаются экспресс-почтой (курьерской службой), если способ доставки смешанный (ЖД + автовоз) дополнительно потребуется делать нотариально заверенную копию ПТС.<br><br><strong>&nbsp;*&nbsp;</strong>При отправке авто автовозом документы на автомобиль следуют вместе с ним, и находятся у водителя автовоза.</p>
<p><strong>Правила приемки автомобиля с ЖД сетки.</strong></p>
<p>Что иметь с собой:</p>
<p>- запас топлива, достаточный для того, чтобы доехать до ближайшей АЗС (даже если на фото с Владивостока был полный бак).</p>
<p>- фотоаппарат</p>
<p>При приемке внимательно осмотрите автомобиль, не стоит подписывать акт прием-передачи представителю ТК, пока Вы не убедитесь, что автомобиль не получил новых повреждений в процессе доставки. Сравните текущий километраж на одометре с пробегом, который был на фото с Владивостока – разница должна быть не больше 15-20 км. Проверьте комплектацию машины - магнитофон, аккумулятор, дорогие опции должны быть такие же, как на фото до отправки.</p>
<p>Если обнаружены новые дефекты.</p>
<p>Согласно законодательству РФ, передача ТМЦ (товарно-материальных ценностей) удостоверяется двусторонним <strong>приёмо-сдаточным актом</strong>. Также, согласно действующему уставу железнодорожного транспорта РФ (статья 42), в случае, если на железнодорожной станции назначения при проверке состояния груза обнаружено повреждение (порча) груза, перевозчик обязан определить размер повреждения (порчи) груза и <strong>выдать грузополучателю коммерческий акт</strong>. Поэтому если Ваш автомобиль получил значительные повреждения в процессе доставки, то для составления акта надо вызвать представителя транспортной компании (ТК), до передачи транспортного средства получателю ТК должна провезти экспертизу результатом которой будет <em>"</em>Отчет об оценке стоимости работ, услуг, запасных частей и материалов, необходимых для восстановления поврежденного автомобиля".</p>
<p>Если представитель ТК отказывается участвовать в подписание и составлении акта - обращайтесь в линейный отдел милиции.</p>
<p>Если повреждения незначительны (небольшая царапина, вмятина), достаточно сделать фотоопись на месте получения и уведомить о новых дефектах представительство транспортной компании в городе получения и во Владивостоке.</p>
<p>&nbsp;</p>
<h2>Отправка авто автовозами по России.</h2>
<p>Примерные цены на перевозку автовозами.</p>
<div class="table-responsive">
<table class="table">
<thead>
<tr>
<th>Направление</th>
<th>Седан</th>
<th>Минивен</th>
<th>Кроссовер</th>
<th>Джип</th>
<th>Микро-автобус</th>
<th>Грузовик</th>
<th>Расстояние от Владивостока, км</th>
<th>Время в пути, сутки</th>
</tr>
</thead>
<tbody>
<tr>
<td>Хабаровск</td>
<td>8000</td>
<td>8000</td>
<td>9000</td>
<td>10000</td>
<td>10000</td>
<td>10000</td>
<td>761</td>
<td>1</td>
</tr>
<tr>
<td>Благовещенск</td>
<td>15000</td>
<td>15000</td>
<td>15000</td>
<td>15000</td>
<td>15000</td>
<td>15000</td>
<td>1460</td>
<td>3</td>
</tr>
<tr>
<td>Белогорск</td>
<td>15000</td>
<td>15000</td>
<td>15000</td>
<td>15000</td>
<td>15000</td>
<td>15000</td>
<td>1432</td>
<td>3</td>
</tr>
<tr>
<td>Чита</td>
<td>27000</td>
<td>27000</td>
<td>27000</td>
<td>30000</td>
<td>30000</td>
<td>30000</td>
<td>3015</td>
<td>5</td>
</tr>
<tr>
<td>Улан-Удэ</td>
<td>28000</td>
<td>28000</td>
<td>28000</td>
<td>30000</td>
<td>30000</td>
<td>30000</td>
<td>3670</td>
<td>5</td>
</tr>
<tr>
<td>Нерюнгри</td>
<td>40000</td>
<td>40000</td>
<td>40000</td>
<td>45000</td>
<td>45000</td>
<td>45000</td>
<td>2320</td>
<td>5</td>
</tr>
<tr>
<td>Якутск</td>
<td>50000</td>
<td>50000</td>
<td>50000</td>
<td>60000</td>
<td>60000</td>
<td>60000</td>
<td>3116</td>
<td>9</td>
</tr>
<tr>
<td>Иркутск</td>
<td>32000</td>
<td>32000</td>
<td>32000</td>
<td>33000</td>
<td>33000</td>
<td>33000</td>
<td>4114</td>
<td>6</td>
</tr>
<tr>
<td>Красноярск</td>
<td>36000</td>
<td>36000</td>
<td>36000</td>
<td>36000</td>
<td>36000</td>
<td>36000</td>
<td>5153</td>
<td>8</td>
</tr>
<tr>
<td>Ачинск</td>
<td>37000</td>
<td>37000</td>
<td>37000</td>
<td>39000</td>
<td>39000</td>
<td>39000</td>
<td>5315</td>
<td>10</td>
</tr>
<tr>
<td>Кемерово</td>
<td>38000</td>
<td>38000</td>
<td>38000</td>
<td>39000</td>
<td>39000</td>
<td>39000</td>
<td>5681</td>
<td>10</td>
</tr>
<tr>
<td>Новосибирск</td>
<td>38000</td>
<td>38000</td>
<td>38000</td>
<td>39000</td>
<td>39000</td>
<td>39000</td>
<td>5937</td>
<td>12</td>
</tr>
<tr>
<td>Томск</td>
<td>38000</td>
<td>38000</td>
<td>38000</td>
<td>39000</td>
<td>39000</td>
<td>39000</td>
<td>5893</td>
<td>12</td>
</tr>
<tr>
<td>Омск</td>
<td>39000</td>
<td>39000</td>
<td>39000</td>
<td>41000</td>
<td>41000</td>
<td>41000</td>
<td>6582</td>
<td>13</td>
</tr>
<tr>
<td>Уфа</td>
<td>42000</td>
<td>42000</td>
<td>42000</td>
<td>44000</td>
<td>44000</td>
<td>44000</td>
<td>8007</td>
<td>15</td>
</tr>
<tr>
<td>Челябинск</td>
<td>42000</td>
<td>42000</td>
<td>42000</td>
<td>44000</td>
<td>44000</td>
<td>44000</td>
<td>7579</td>
<td>15</td>
</tr>
<tr>
<td>Екатеринбург</td>
<td>42000</td>
<td>42000</td>
<td>42000</td>
<td>44000</td>
<td>44000</td>
<td>44000</td>
<td>7531</td>
<td>15</td>
</tr>
<tr>
<td>Курган</td>
<td>42000</td>
<td>42000</td>
<td>42000</td>
<td>44000</td>
<td>44000</td>
<td>44000</td>
<td>7317</td>
<td>15</td>
</tr>
<tr>
<td>Тюмень</td>
<td>42000</td>
<td>42000</td>
<td>42000</td>
<td>44000</td>
<td>44000</td>
<td>44000</td>
<td>7210</td>
<td>15</td>
</tr>
<tr>
<td>Пермь</td>
<td>43000</td>
<td>43000</td>
<td>43000</td>
<td>45000</td>
<td>45000</td>
<td>45000</td>
<td>7893</td>
<td>15</td>
</tr>
<tr>
<td>Тольятти</td>
<td>43000</td>
<td>43000</td>
<td>43000</td>
<td>45000</td>
<td>45000</td>
<td>45000</td>
<td>8300</td>
<td>18</td>
</tr>
<tr>
<td>Самара</td>
<td>43000</td>
<td>43000</td>
<td>43000</td>
<td>45000</td>
<td>45000</td>
<td>45000</td>
<td>8457</td>
<td>18</td>
</tr>
<tr>
<td>Казань</td>
<td>46000</td>
<td>46000</td>
<td>46000</td>
<td>48000</td>
<td>48000</td>
<td>48000</td>
<td>8547</td>
<td>18</td>
</tr>
<tr>
<td>Набережные Челны</td>
<td>46000</td>
<td>46000</td>
<td>46000</td>
<td>48000</td>
<td>48000</td>
<td>48000</td>
<td>8100</td>
<td>17</td>
</tr>
<tr>
<td>Пенза</td>
<td>46000</td>
<td>46000</td>
<td>46000</td>
<td>48000</td>
<td>48000</td>
<td>48000</td>
<td>8827</td>
<td>18</td>
</tr>
<tr>
<td>Чебоксары</td>
<td>46000</td>
<td>46000</td>
<td>46000</td>
<td>48000</td>
<td>48000</td>
<td>48000</td>
<td>8450</td>
<td>18</td>
</tr>
<tr>
<td>Москва</td>
<td>46000</td>
<td>46000</td>
<td>46000</td>
<td>48000</td>
<td>48000</td>
<td>48000</td>
<td>9100</td>
<td>20</td>
</tr>
<tr>
<td>Нижний Новгород</td>
<td>46000</td>
<td>46000</td>
<td>46000</td>
<td>48000</td>
<td>48000</td>
<td>48000</td>
<td>8743</td>
<td>20</td>
</tr>
<tr>
<td>Санкт-Петербург</td>
<td>53000</td>
<td>53000</td>
<td>53000</td>
<td>55000</td>
<td>55000</td>
<td>55000</td>
<td>9722</td>
<td>22</td>
</tr>
<tr>
<td>Воронеж</td>
<td>60000</td>
<td>60000</td>
<td>60000</td>
<td>62000</td>
<td>62000</td>
<td>62000</td>
<td>9327</td>
<td>21</td>
</tr>
<tr>
<td>Саратов</td>
<td>57000</td>
<td>57000</td>
<td>57000</td>
<td>59000</td>
<td>59000</td>
<td>59000</td>
<td>8655</td>
<td>20</td>
</tr>
<tr>
<td>Волгоград</td>
<td>57000</td>
<td>57000</td>
<td>57000</td>
<td>59000</td>
<td>59000</td>
<td>59000</td>
<td>9273</td>
<td>25</td>
</tr>
<tr>
<td>Ростов</td>
<td>57000</td>
<td>57000</td>
<td>57000</td>
<td>59000</td>
<td>59000</td>
<td>59000</td>
<td>9743</td>
<td>25</td>
</tr>
<tr>
<td>Краснодар</td>
<td>57000</td>
<td>57000</td>
<td>57000</td>
<td>59000</td>
<td>59000</td>
<td>59000</td>
<td>10016</td>
<td>25</td>
</tr>
</tbody>
</table>
</div>
<p>Стоимость доставки зависит от габаритов автомобиля, количества свободных мест в автовозе в нужное направление, сезона доставки.</p>
<p>При отправке авто автовозом документы на автомобиль следуют вместе с ним, и находятся у водителя автовоза.</p>
<p><strong>Правила приемки автомобиля с автовоза.</strong></p>
<p>Что иметь с собой:</p>
<p>- запас топлива, достаточный для того, чтобы доехать до ближайшей АЗС (даже если на фото с Владивостока был полный бак).</p>
<p>- фотоаппарат</p>
<p>При приемке внимательно осмотрите автомобиль, не стоит подписывать акт прием-передачи водителю, пока Вы не убедитесь, что автомобиль не получил новых повреждений в процессе доставки. Если автомобиль грязный – то сначала загоните в мойку, а потом уже подпишите акт водителю. Сравните текущий километраж на одометре с пробегом, который был на фото с Владивостока – разница должна быть не больше 15-20 км. Проверьте комплектацию машины - магнитофон, аккумулятор, дорогие опции должны быть такие же, как на фото до отправки.</p>
<p>Если Вы обнаружили новые дефекты&nbsp; - обязательно отметьте их в акте, сфотографируйте, сообщите нам и транспортной компании.</p>
<p><span style="color: #ff0000;"><strong>Важно!</strong></span> Транспортная компания <strong>не несет</strong> ответственность за состояние ходовой части автомобиля. У нас было несколько случаев, когда после доставки автовозом клиенты отмечали вышедшие из строя передние ступичные (и стоечные) подшипники. Поэтому мы советуем при возможности отправлять автомобили железнодорожной сеткой.</p>
<p>&nbsp;</p>
<h2><strong>Отправка автомобилей морским транспортом.</strong></h2>
<div class="table-responsive">
<table class="table">
<thead>
<tr>
<th>Направление</th>
<th>Седан / Минивен</th>
<th>Кроссовер</th>
<th>Джип / Микро-автобус / Грузовик</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td>Сахалин</td>
<td>40000</td>
<td>45000</td>
<td>55000</td>
<td>до двери +5000 руб</td>
</tr>
<tr>
<td>Камчатка</td>
<td>40000</td>
<td>45000</td>
<td>50000</td>
<td>до двери +5000 руб</td>
</tr>
<tr>
<td>Магадан</td>
<td>60000</td>
<td>70000</td>
<td>80000</td>
<td>до двери +5000 руб</td>
</tr>
</tbody>
</table>
</div>
<p><strong>Если Вам необходимо отправить автомобиль любой другой транспортной компанией (ТК), то мы сможем перегнать и передать Ваш автомобиль, но договор на поставку с ТК Вам придется заключать самостоятельно, также, как и переводить оплату.</strong></p>	</div>

	
							</div>
</div>
</div>
			</div>

         
</div>
</div>
</div>
</div>
{% endblock %}