{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<!-- 	<div class="footer">
    	<div id="navbar" class="navbar-collapse collapse">
        		<ul class="nav navbar-nav">
        		<li class="icon-bar-foot"><a href="/">Главная</a></li>
        		<li class="icon-bar-foot"><a href="/about">О нас</a></li>
        		<li class="icon-bar-foot"><a href="/contacts">Контакты</a></li>
        		</ul>
    	</div>
    </div> -->

      <div class="well">
        <div id="footer-navbar" class="navbar-collapse collapse">
        		<ul class="hr foot-nav navbar-nav">
        		<a href="/about"><li class="icon-bar-foot">Главная</li></a>
                <a href="/"><li class="icon-bar-foot">Каталог</li></a>
        		<a href="/company"><li class="icon-bar-foot">О компании</li></a>
        		<a href="/contacts"><li class="icon-bar-foot">Контакты</li></a>
                <a href="/calculator"><li class="icon-bar-foot">Калькулятор</li></a>
                <a href="/dostavca"><li class="icon-bar-foot">Доставка</li></a>
        		</ul>
    	</div>
      </div>