{% load static %}
<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-main">
      <div class="container">
        <div class="navbar-header">
          <a class="icon-bar navbar-brand">InJapan</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="icon-bar"><a href="/about">Главная</a></li>
            <li class="icon-bar"><a href="/">Каталог</a></li>
            <li class="icon-bar"><a href="/company">О компании</a></li>
            <li class="icon-bar"><a href="/contacts">Контакты</a></li>
            <li class="icon-bar"><a href="/calculator">Калькулятор</a></li>
            <li class="icon-bar"><a href="/dostavca">Доставка</a></li>
            <li class="icon-bar"><a href="/pravila">Правила</a></li>
            <li class="icon-bar"><a href="/landing123" target="_blank">Авторизация</a></li>
          </ul>
         
        </div><!--/.nav-collapse -->
      </div>
    </nav>